UIUC Data Curation/Assignment 3/canonicalization/example2.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT catalog (book)+>
<!ELEMENT book (title, contributors, description, identifier)>
<!ATTLIST book id CDATA #REQUIRED>
<!ATTLIST book available (Y|N) "Y">
<!ELEMENT title (#PCDATA)>
<!ELEMENT contributors (contributor)+>
<!ELEMENT contributor (#PCDATA)>
<!ATTLIST contributor role (creator|contributor|illustrator|editor) "creator">
<!ELEMENT description (#PCDATA)>
<!ELEMENT identifier (#PCDATA)>
<!ATTLIST identifier type (lc|isbn|oclc) "isbn">